* {
  box-sizing            : border-box;
}

:root {
  font-family           : sans-serif;
  --navigation-height   : calc(var(--navigation-line-height, 1.1) * 1rem);
  --currency-label      : "€";
}

body {
  margin: 0;
}

.layout {
  border: none !important;
  min-height: 100vh;
}

/* common to all game layouts */
.game {
  display       : grid;
  text-align    : center;
  background    : green;
  color         : white;
  --game-height : calc(100vh - var(--navigation-height));
  --game-width  : 100vw;
  min-height    : var(--game-height);
  max-height    : var(--game-height);
  --control-height: calc (0.9 * 3 / 26);
}

/* default layout */

@media (max-aspect-ratio: 1/1) {
  .game {
    --layout              : 'portrait';
    grid-template-columns : 3fr 3fr 8fr 3fr 3fr;
    grid-template-rows    : 3fr 10fr 10fr 3fr;
    grid-template-areas   : 
      "money   title   title  title    joker"
      "deck    deck    wins    wins    wins"
      "table   table   table   table   table"
      "control control control control control"
    ;
  }
  
  .control {
    --control-height: 7vh;
    --control-width :  14vw;
  }
}

/* really tall phones etc. */
@media (max-aspect-ratio: 1/2) {
  .game {
    --layout              : 'portrait';
    grid-template-columns : 3fr 3fr 8fr 3fr 3fr;
    grid-template-rows    : 3fr 10fr 6fr 6fr 3fr;
    grid-template-areas   : 
      "money   title   title  title    joker"
      "wins    wins    wins    wins    wins"
      "deck    deck    .       .       ."
      "table   table   table   table   table"
      "control control control control control"
    ;
  }
  
  .control {
    --control-height: 7vh;
    --control-width :  14vw;
  }
}

@media (min-aspect-ratio: 1 / 1) {
  .game {
    --layout              : 'landscape';
    grid-template-columns : 2fr 4fr 4fr 4fr 3fr 3fr;
    grid-template-rows    : 1fr 4fr 4fr 8fr 2fr;
    grid-template-areas   :
      "money   title   title   title   title   joker"
      "deck    deck    .       wins    wins    wins"
      "deck    deck    .       wins    wins    wins"
      "table   table   table   table   table   table"
      "control control control control control control"
    ;
  }
  .control {
    --control-height: 7vh;
    --control-width : 14vw;
  }
}

.game>* {
  justify-self: center;
  align-self  : center;
}

.game .money {
  justify-self: start;
  margin-left : 2vw;
}
.game .jokerRounds {
  justify-self: end;
  margin-right: 2vw;
}

.game .money,
.game .title,
.game .jokerRounds {
  margin-top: 1vh;
}

.game h1,
.game p {
  margin: 0;
}

/* grid areas */

.money {
  grid-area: money;
}

.result {
  grid-area: result;
}

.bet {
  grid-area: bet;
}

.jokerRounds {
  grid-area: joker;
}

.title {
  grid-area: title;
}

.info {
  grid-area: info;
}

.winTable {
  grid-area: wins
}

.deck {
  grid-area: deck;
}

.hand,
.left,
.right {
  grid-area: table;
}

.money, .jokerRounds {
  display     : flex;
  align-items : center;
  font-size   : 2em;
}

/* status area labels */

.money::before {
  content: var(--currency-label);
}

.jokerRounds::before {
  content: attr(data-label)
}
/* other card styling */

#test::before{
  display: block;
  content: var(--layout);
  padding: 20%;
}
#test {
  grid-area       : wins;
  background-color: lightgray; 
  color           : blue;
  --card-width    : calc(0.16 * var(--game-width));
  --card-height   : calc(1.4 * var(--card-width));  
  width           : var(--card-width);
  height          : var(--card-height);
}

.card {
  --card-width    : calc(0.16 * var(--game-width));
  --card-height   : calc(1.4 * var(--card-width));  
  --stack-offset  : 0%;
  --hiding-offset : 0.04vh;
  border          : 0.1px solid lightgray;
  font-size       : calc(var(--card-height) * 0.2);
  width           : var(--card-width);
  height          : var(--card-height);
  border-radius   : calc(0.04 * var(--card-height));
  background      : white;
  display         : flex;
  flex-direction  : column;
  justify-content : space-around;
  position        : relative;
  z-index         : calc(60 - var(--card-order, 0));
}

@media (min-aspect-ratio: 3/2) {
  .card {
    --card-height-fraction : 0.34;
    --card-height           : calc(var(--card-height-fraction) * var(--game-height));
    --card-width            : calc(var(--card-height) / 1.4);
  }
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card.blue {
  color: blue;
}

/* spread out cards on the table */
.card.hand {
  --hand-offset : calc(var(--card-order) - 2);
  left          : calc(20% * var(--hand-offset));
}

.card.left {
  --stack-offset: 0%;
  left          : var(--stack-offset);
}

.card.right {
  --stack-offset: 20%;
  left          : var(--stack-offset);
}

/* card placeholders on the table */
.card.hand.placeHolder {
  background-color  : transparent;
  border            : 1vmax solid #6F6;
  z-index           : 1;
}

/* looser card stacks on the table */
.card.left,
.card.right {
    --hiding-offset : 1vh;
}

.card.hidden {
  border    : 0.7vh solid white;
  background: radial-gradient(#88F, #66A);
  top       : calc(var(--hiding-offset) * var(--card-order, 0));
  left      : calc(var(--stack-offset, 0) + (var(--hiding-offset) * var(--card-order, 0)));
}

/* joker position */
.card.joker {
  position: absolute;
  top : calc(0.5 * var(--game-height) - 0.5 * var(--card-height));
  left: calc(0.5 * var(--game-width)  - 0.5 * var(--card-width));
}

/* win table */

.winTable {
  display   : table;
  font-size : calc(0.02 * var(--game-height))
}

.winTableRow {
  display: table-row;
}

.winTableRow:nth-child(even)>.winTableCell {
  background-color: var(--odd-row-color);
}

.winTableRow:nth-child(even)>.winTableCell.winLabel {
  border-bottom-left-radius : var(--radius);
  border-top-left-radius    : var(--radius);
}

.winTableRow:nth-child(even)>.winTableCell:last-child:not(.currentBet) {
  border-bottom-right-radius: var(--radius);
  border-top-right-radius   : var(--radius);
}

.winTableCell {
  --odd-row-color  : #090;
  --separator-color: white;
  --radius         : 1vh;
  display          : table-cell;
  text-align       : right;
  padding-top      : 0.2em;
  padding-bottom   : 0.2em;
  padding-left     : 0.5em;
  padding-right    : 0.5em;
  /*border-left      : 0.3vmin solid white;*/
}

.currentBet {
  --border-color: #0E0;
}

.winTableCell.currentBet {
  border-left               : 0.5vmax solid var(--border-color);
  border-right              : 0.5vmax solid var(--border-color);
}
.winTableRow:first-child>.winTableCell.currentBet {
  border-top                : 0.5vmax solid var(--border-color);
  border-top-left-radius    : var(--radius);
  border-top-right-radius   : var(--radius);
}

.winTableRow:last-child>.winTableCell.currentBet {
  border-bottom             : 0.5vmax solid var(--border-color);
  border-bottom-left-radius : var(--radius);
  border-bottom-right-radius: var(--radius);
}

.winTableCell.currentBet + .winTableCell {
  border                    : none;
}

.winTableCell:first-child {
  text-align                : left;
  padding-left              : 0.3em;
  border                    : none;
}

.winTableCell:last-child {
  padding-right: 0.3em;
}

/* show last win if any */
.lastWin>.winTableCell.winLabel,
.lastWin>.winTableCell.currentBet{
  font-weight : bold;
  box-shadow  : inset 0 0 3vmin white;
}

.control {
  z-index: 100;
}

.control {
  height            : var(--control-height);
  width             : calc(2 * var(--control-height));
  max-width         : 18vw;
  background-color  : lightgray;
  color             : gray;
  font-weight       : bold;
  position          : relative;
  grid-area         : control;
  border            : 1px solid gray;
  border-radius     : 60%;
  display           : flex;
  flex-direction    : column;
  justify-content   : space-around;
}

.control.active {
  background: radial-gradient(yellow, lightgray);
  color     : black;
}

.control.bet {
  left: -40%;
}

.control.deal {
  left: 40%;
}

.control.right {
  left: 20%;
}